html,
body {
color: gray;
margin: 0;
font-family: "Arial", sans-serif;
font-size: 30px;
line-height: 34px;
}

body {
min-width: 430px;
}
h1 {
font-size: 60px;
text-align: right;
}
.upperimg {
padding: 40px; 
vertical-align: center;
}
.flex-container {
    flex-wrap: wrap-reverse;
	display: flex;
	justify-content: center;
	height: 960px;
	align-items: center;
}
header{
	background-color: lightblue;
	padding: 10px;
}
.h2 {
	text-align:center;
	margin-top: 100px;
	line-height: 70px;
	font-weight: 200;
}
.class-1 {
	text-align: right;
}
@media (min-width: 1500px;) {
.ricardo-milos {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: center;
}
}
.int {
	font-size: 20px;
}
.small-img-1 {
	border-radius: 50%;
	margin-right: 50px;
}
.small-img-2 {
	border-radius: 50%;
	margin-left: 50px;
}
.h1 {
	font-weight: 200;
}
.sj {
	text-align: center;
	font-weight: 200;
	margin-top: 100px;
}
.bs {
	font-size: 30px;
}
.l2 {
	border: 6px solid blue;
	color: white;
	background-color: blue;
	border-radius: 10%;
	height: 50px;
	width: 150px;
	font-size: 20px;
}
.link {
	text-decoration: none;
	border: 6px solid white;
	color: blue;
	background-color: white;
	border-radius: 10%;
	height: 50px;
	width: 200px;
	font-size: 20px;
}
.link-reversed {
    border: 6px solid blue;
	color: white;
	background-color: blue;
	border-radius: 10%;
	height: 50px;
	width: 150px;
	font-size: 20px;
	text-decoration: none;
}
.transf {
	text-decoration: none;
	border: 2px solid white;
	color: white;
	border-radius: 10%;
}
.transf-reversed {
    text-decoration: none;
	border: 2px solid lightgray;
	color: gray;
	border-radius: 10%;
}
.very-small-pic {
	height: 50px;
	text-align: center;
	margin-top: 100px;
}
.ya-zakonchil {
	font-size: 15px;
	text-align: center;
}
.nu-teper-uzhe-tochno-vse {
	margin-top: 150px;
	margin-bottom: 100px;
}
.nu-vse {
	text-decoration: none;
	color: gray;
}
